header {
    grid-area: header;
}
.header-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    background-color: #faf5f5 !important;
    min-height: 400px;

    h1{
        text-align: center;
        font-size: 40px;
    }

    p{
        text-align: center;
        max-width: 500px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    /* Estilos header home*/
    .header-home{
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        background-color: #faf5f5;
        min-height: 900px;

        h1{
            font-size: 30px;
        }

        p{
            font-size: 28px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header-home{
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        background-color: #faf5f5;
        min-height: 600px;

        h1{
            font-size: 30px;
        }

        p{
            font-size: 28px;
        }
    }
    .header-home h1 img{
        animation-name: movimiento-header;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 1s;
        animation-delay: 1s;

    }
}

/* HOVER */

.container img:hover{
    filter: blur(5px);
}
/* ANIMACIONES */
@keyframes movimiento-header{
    0% {
        width: 100px;
    }
    
    50%{

        width: 50px;
    }

    100% {
        width: 100%;
    }
}
