.row {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;

    h5{
        text-align: center;
    }
}

.container div h4{
    padding: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: $font-size-index;
    font-weight: bold;
}
.col img{
    width: 510px;
}
.seccion-1-img1{
    display: flex;
    justify-content: center;
    width: revert;
}
.seccion-1-img2{
    display: flex;
    justify-content: center;
    width: revert;
}
.seccion-1-img3{
    display: flex;
    justify-content: center;
    width: revert;
}
.seccion-1-img4{
    display: flex;
    justify-content: center;
    width: revert;
}
.img-fluid img{
    width: -webkit-fill-available;
}
.sedesHome-2 h4 {
    padding: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: $font-size-index;
    font-weight: bold;
}